<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>510946594452-set5eh5luso8jelbmgm8j3krmn292e3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510946594452-set5eh5luso8jelbmgm8j3krmn292e3l</string>
	<key>API_KEY</key>
	<string>AIzaSyBOPQXbc9xDcOGtoyYnwMQOq4gkg9sSLFc</string>
	<key>GCM_SENDER_ID</key>
	<string>510946594452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cocappathon.rClickriOS</string>
	<key>PROJECT_ID</key>
	<string>melody-2bd11</string>
	<key>STORAGE_BUCKET</key>
	<string>melody-2bd11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510946594452:ios:2849dc8bbb5ec115</string>
	<key>DATABASE_URL</key>
	<string>https://melody-2bd11.firebaseio.com</string>
</dict>
</plist>